<div class="pullRepoByLink">
    <sr-input
        label="'Not owning repository? Just insert a repository link to start importing'"
        ng-model="$ctrl.link"
        class="pullRepoByLink-input"
    ></sr-input>
    <sr-submit-button
        class="pullRepoByLink-button"
        state="$ctrl.pullState"
        hide-result="true"
        ng-click="$ctrl.onSubmit()"
    >Import</sr-submit-button>
    <sr-notification-label
        mode="'error'"
        is-open="$ctrl.pullState === 'error'"
        сlass="pullRepoByLink-notification u-block"
        no-close-button="true"
    ></sr-notification-label>
</div>