<label class="u-inputContainer u-selectContainer u-block">
  <span class="u-inputLabel">
    {{$ctrl.label}}
    <sr-red-star ng-if="$ctrl.required"></sr-red-star>
  </span>
  <span class="u-selectArrow"></span>
  <select class="u-input u-select" ng-model="$ctrl.ngModel">
    <option class="u-selectOption" value="{{$ctrl.defaultValue}}">{{$ctrl.defaultText}}</option>
    <option class="u-selectOption" ng-repeat="option in $ctrl.options" value="{{option[$ctrl.valueField] || option}}">
      {{option[$ctrl.displayField] || option}}
    </option>
  </select>
  <div
    class="u-error"
    ng-show="$ctrl.form.$submitted || $ctrl.form[$ctrl.name].$touched">
    <div 
      ng-show="$ctrl.form[$ctrl.name].$error.required && $ctrl.required">This field is required</div>
  </div>
</label>