<label class="u-inputContainer">
  <span class="u-inputLabel">{{$ctrl.label}}</span>
  <sr-red-star ng-if="$ctrl.required"></sr-red-star>
  <textarea 
    placeholder="{{$ctrl.placeholder}}"
    class="form-control"
    ng-pattern="$ctrl.ngPattern" 
    ng-model="$ctrl.ngModel" name="{{$ctrl.name}}" ng-required="$ctrl.required">
  </textarea>
  <div
    class="u-error"
    ng-show="$ctrl.form.$submitted || $ctrl.form[$ctrl.name].$touched">
    <div 
      ng-show="$ctrl.form[$ctrl.name].$error.required && $ctrl.required">This field is required</div>
    <div 
      ng-show="$ctrl.form[$ctrl.name].$error.pattern">{{$ctrl.patternError}}</div>
  </div>
</label>