.idea/
.env
node_modules/
build/
client/application.css
client/application.css.map
client/assets/images/training-center-logos/*
client/assets/images/developers-avatars/*
!client/assets/images/developers-avatars/.gitkeep
!client/assets/images/training-center-logos/.gitkeep