<div class="u-block u-paper developerInfo">
  <sr-info-notification 
    ng-if="!$ctrl.info.profileReadyForPublic" 
    text="'<b>Your profile is not included in search.</b> We show profiles only with contact info and personal information.'"
  ></sr-info-notification>
  <sr-info-notification 
    ng-if="!$ctrl.accountShown && $ctrl.info.profileReadyForPublic" 
    text="'<b>Your profile is hidden and not included in search.</b> You may change it by toggling your status.'"
  ></sr-info-notification>
  <section class="u-block u-block--onlyVertical">
    <sr-developer-avatar
      avatar-url="$ctrl.info.avatar"
    ></sr-developer-avatar>
    <div class="developerInfo-name">
      {{$ctrl.info.firstName}} {{$ctrl.info.lastName}}
    </div>
    <table class="u-keyValueTable developerInfo-detailsTable">
      <tr ng-if="$ctrl.info.email">
        <td class="u-keyValueTable-key developerInfo-emailKey">Email:</td>
        <td class="u-keyValueTable-value">
          <sr-email-verification></sr-email-verification>
        </td>
      </tr>
      <tr ng-if="$ctrl.info.position" ng-if="$ctrl.info.position">
        <td class="u-keyValueTable-key">Position:</td>
        <td class="u-keyValueTable-value">{{$ctrl.info.position}}</td>
      </tr>
      <tr ng-if="$ctrl.info.city && $ctrl.info.country">
        <td class="u-keyValueTable-key">Location:</td>
        <td class="u-keyValueTable-value">{{$ctrl.info.city}}, {{$ctrl.info.country}}</td>
      </tr>
      <tr ng-if="$ctrl.info.trainingCenter">
        <td class="u-keyValueTable-key">School:</td>
        <td class="u-keyValueTable-value">{{$ctrl.info.trainingCenter.name}}</td>
      </tr>
      <tr ng-if="$ctrl.info.englishLevel">
        <td class="u-keyValueTable-key">English level:</td>
        <td class="u-keyValueTable-value">{{$ctrl.info.englishLevel}}</td>
      </tr>
      <tr ng-if="$ctrl.info.englishLevel">
        <td class="u-keyValueTable-key">Ready to relocate:</td>
        <td class="u-keyValueTable-value">{{$ctrl.info.relocateReady ? 'Yes' : 'No'}}</td>
      </tr>
    </table>
    <div
      class="developerInfo-showProfile u-block u-block--onlyVertical" 
      ng-if="$ctrl.info.profileReadyForPublic"
    >
      <sr-toggle
        label="'Show profile in search results:'"
        ng-model="$ctrl.accountShown"
        ng-change="$ctrl.handleStatusChange()"
        state="$ctrl.accountToggleState"
        on-notification-close="$ctrl.hideStatusChangeNotification()"
        label-class="'developerInfo-showProfileLabel'"
        container-class="'developerInfo-showProfile'"
      ></sr-toggle>
    </div>
    <button type="button" class="u-whiteButton" ui-sref="edit-developer-profile({initial: true})">Edit profile</button>
  </section>
  <div class="u-block u-block--onlyVertical developerInfo-skills">
    <sr-developer-skills skills="$ctrl.info.skills"></sr-developer-skills>
  </div>
</div>