<article>
  <div 
    ng-if="$ctrl.newAvatar"
    ngf-drop 
    ng-model="picFile" 
    ngf-pattern="image/*"
    class="developerAvatar-newAvatar"
  >
    <img-crop
      image="$ctrl.newAvatar | ngfDataUrl"
      result-image="$ctrl.croppedDataUrl"
      area-type="square"
      ng-init="$ctrl.croppedDataUrl=''">
    </img-crop>
  </div>
  <div class="developerAvatar-avatarContainer" ng-if="!$ctrl.newAvatar" ngf-select ng-model="$ctrl.newAvatar">
    <img class="developerAvatar-avatar {{$ctrl.imageClassName}}" src="{{$ctrl.avatarUrl}}" />

    <svg class="developerAvatar-newPhotoIcon {{$ctrl.iconClassName}}" width="44px" height="33px" viewBox="0 0 935 720">
      <use xlink:href="#client--svg--photo" />
    </svg>
  </div>
  <div class="developerAvatar-buttonsSection" ng-show="$ctrl.newAvatar">
    <sr-submit-button 
      button-class="'developerAvatar-avatarSubmit'"
      state="$ctrl.state"
      success-text="'Avatar updated'"
      error-text="'Something went wrong'"
      ng-click="$ctrl.submit()"
    >
      Save
    </sr-submit-button>
    <button class="u-whiteButton developerAvatar-avatarControlButton" ng-click="$ctrl.clearAvatar()">
      Cancel
    </button>

  </div>
</article>