.developerInfo {
  width: 100%;
}
.developerInfo-header {
  margin-top: 0;
}
.developerInfo-name {
  font-size: fontSize(22.7px);
  font-family: 'Playfair Display', sans;
  text-align: center;
  margin: 5px 0 10px;
}
.developerInfo-showProfile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.developerInfo-showProfileLabel {
  font-family: Raleway, 'sans-serif';
  color: $mainColor3;
  font-size: fontSize(14px);
  margin-right: 20px;
}
.developerInfo-showProfileControl {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: 4px;
}
.developerInfo-showProfileValue {
  font-weight: 600;
  visibility: hidden;
  &.is-visible {
    visibility: visible;
  }
}
.developerInfo-showProfileToggle {
  margin: 0 4px;
}

.developerInfo-skills {
  border-top: solid 1px $mainColor3;
}