.developerInfo-header {
  margin-top: 0;
}
.developerInfo-avatar {
  display: block;
  margin: 0 auto;
  width: 43%;
  border-radius: 50%;
}
.developerInfo-avatarSubmit {
  display: inline-block;
  width: auto;
}

.developerInfo-avatarControlButton {
  margin-right: 15px;
}
.developerInfo-name {
  font-size: fontSize(22.7px);
  font-family: 'Playfair Display', sans;
  text-align: center;
  margin: 5px 0 10px;
}
.developerInfo-showProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Raleway, 'sans-serif';
  color: $mainColor3;
}
.developerInfo-showProfileControl {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: 4px;
}
.developerInfo-showProfileValue {
  font-weight: 600;
  visibility: hidden;
  &.is-visible {
    visibility: visible;
  }
}
.developerInfo-showProfileToggle {
  margin: 0 4px;
}

.developerInfo-skills {
  border-top: solid 1px $mainColor3;
}