.developerPreview {
  display: flex;
  flex-direction: column;
  background-color: $mainColor1;
  padding: 17px 7px 7px;
}
.developerPreview-info {
  display: flex;
  flex-direction: row;
  font-family: 'Playfair Display', serif;
  color: $mainColor3;
}
.developerPreview-avatar {
  width: 85px;
  height: 85px;
  flex: 0 0 85px;
  border-radius: 50%;
  margin-right: 10px;
}
.developerPreview-name {
  margin: 5px 0;
  font-size: fontSize(22px);
}
.developerPreview-detail {
  color: $mainColor3;
  flex: 0 1 auto;
}
.developerPreview-detailName {
  font-size: fontSize(11.7px);
}
.developerPreview-trainingCenterLogo {
  height: 30px;
}
.developerPreview-skillsList {
  display: flex;
  flex-wrap: wrap;
}
.developerPreview-skill {
  padding: 6px 10px;
  color: #f4f5f0;
  font-size: fontSize(11px);
  background-color: $emphasizeColor;
  margin-right: 10px;
  margin-bottom: 10px;
}
.developerPreview-button {
  cursor: pointer;
  font-size: fontSize(18px);
  font-family: Raleway, 'sans-serif';
}

@include tabletAndDesktop {
  .developerPreview {
    position: relative;
    padding: 35px 12px 12px 164px;
    align-self: center;
  }
  .developerPreview-avatar { 
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    margin-left: -152px;
    width: 142px;
    height: 142px;
  }
  .developerPreview-name {
    margin-bottom: 24px;
  }
  .developerPreview-detail {
    margin-bottom: 10px;
  }
  .developerPreview-info {
    min-height: 142px;
  }
  .developerPreview-details {
    padding-right: 195px;
  }
  .developerPreview-button {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    padding: 16px 0;
    width: 170px;
    font-weight: 300;
  }
  .developerPreview-detailName {
    font-size: fontSize(14px);
  }
  .developerPreview-detailValue {
    font-size: fontSize(18px);
  }
  .developerPreview-skillsList {
    padding: 0;
  }
  .developerPreview-skill {
    margin-right: 19px;
  }
}