.developerPreview {
  display: flex;
  flex-direction: column;
  background-color: $mainColor1;
  padding: 17px 7px 7px;
}
.developerPreview-info {
  display: flex;
  flex-direction: row;
  font-family: 'Playfair Display', serif;
  color: $mainColor3;
}
.developerPreview-avatar {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-right: 10px;
}
.developerPreview-name {
  margin: 5px 0;
  font-size: fontSize(22px);
}
.developerPreview-key {
  font-size: fontSize(11.7px);
}
.developerPreview-location {
  flex: 0 1 auto;
}
.developerList-skillsList {
  display: flex;
  flex-wrap: wrap;
}
.developerPreview-skill {
  padding: 6px 10px;
  color: #f4f5f0;
  font-size: fontSize(11px);
  background-color: $mainColor4;
  margin-right: 10px;
  margin-bottom: 10px;
}
.developerPreview-button {
  cursor: pointer;
  font-size: fontSize(18px);
  font-family: Raleway, 'sans-serif';
}

@include tabletAndDesktop {
  .developerPreview {
    padding: 35px 12px 12px 154px;
    align-self: center;
  }
  .developerPreview-avatar {
    margin-left: -142px;
    width: 142px;
    height: 142px;
  }
}