.editDeveloper-backIcon {
  height: 35px;
  width: 18px;
  cursor: pointer;
}
.editDeveloper-topPart {
  display: flex;
}
.editDeveloper-inputsColumn {
  flex: 1 1 auto;
}
.editDeveloper-imageColumn {
  flex: 0 0 246px;
}
.editDeveloper-avatar {
  width: 100%;
}
.editDeveloper-avatarImage {
  width: 100%;
}
.editDeveloper-avatarIcon {
  right: 0;
  width: 80px;
  height: 68px;
  left: auto;
}
.editDeveloper-header {
  font-size: fontSize(30px);
  font-weight: 300;
  font-family: Raleway, 'sans-serif';
  margin-bottom: 20px;
}
.editDeveloper-notification {
  display: inline-block;
}
.editDeveloper-subsectionHeader {
  margin: 0 0 20px;
}
.editDeveloper-submitButton {
  display: inline-block;
}
.editDeveloper-cancelButton {
  margin-left: 20px;
}
.editDeveloper-buttons {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
.editDeveloper-toggleLabelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.editDeveloper-toggleLabel {
  white-space: nowrap;
  margin-right: 15px;
  display: inline-block;
}
.editDeveloper-toggle {
  margin: 0;
}