* {
  -moz-hyphens:none;
  -ms-hyphens:none;
  -webkit-hyphens: none;
  hyphens:none;
  word-break:keep-all!important;
}
.fileContent {
  overflow-x: auto;
  background-color: inherit;
  & code {
    white-space: pre;
    border: none;
    background-color: transparent;
    padding-left: 20px;
  }
}
code.hljs-line-numbers {
  border-right: none;
  padding: 10px;
  padding-left: 0px;
  padding-top: 10px;
  width: 45px;
}
.hljs {
  display: inline-block;
  padding: 0.5em;
}
