.fileContent {
  overflow-x: auto;
  background-color: inherit;
  white-space: pre;
  word-wrap: normal;
  & code {
    white-space: pre;
    word-break: keep-all;
    border: none;
    background-color: transparent;
    padding-left: 10px;
  }
}
code.hljs-line-numbers {
  border-right: none;
  padding: 10px;
  padding-left: 0px;
  padding-top: 10px;
  width: 35px;
}
.hljs {
  display: inline-block;
  padding: 0.5em;
}

@include tabletAndDesktop {
  .fileContent code {
    padding-left: 20px;
  }
  code.hljs-line-numbers {
    width: 45px;
  }
}