.footer {
  box-sizing: border-box;
  background-color: #3E474F;
  display: flex;
  flex-direction: column;
  font-family: Raleway, 'sans-serif';
  color: #929497;
  font-size: fontSize(24px);
}

.footer-column {
  @extend .u-block;
  box-sizing: content-box;
  border-bottom: solid 1px $mainColor1;
  display: flex;
  flex: 0 1 25%;
  flex-direction: column;
  justify-content: space-between;
  &:last-child {
    border-bottom: none;
  }
}
.footer-line {
  flex: 0 1 auto;
}
.footer-subColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  width: 90px;
}
.footer-email {
  flex: 0 1 50%;
}
.footer-smallText {
  font-size: fontSize(18px);
}
.footer-smallerText {
  font-size: fontSize(14px);
}

.footer-button {
  padding: 6px 25px;
  border: solid 1px #f4f5f0;
  font-size: fontSize(26px);
}

.footer-loginHelp {
  padding: 8px 0;
}

@include tabletAndDesktop {
  .footer {
    margin-bottom: -$footerHeightTabletAndDesktop;
    height: $footerHeightTabletAndDesktop;
    flex-direction: row;
  }
  .footer-column {
    border-right: solid 1px $mainColor1;
    flex: 0 1 25%;
    border-bottom: none;
    justify-content: space-between;
    &:last-child {
      border-right: none;
    }
  }
  .footer-line {
    flex: 0 1 50%;
  }
}