.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mainColor1;
}
.header-logo {
  cursor: pointer;
  margin: 0;
  display: inline-block;
  color: $mainColor3;
}
.header-buttonsGroup {

}
.header-button {
  margin-left: 20px;
}