.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mainColor1;
}
.header-logo {
  cursor: pointer;
  margin: 0;
  display: inline-block;
  color: $mainColor3;
}
.header-githubIcon {
  margin-left: 10px;
  
  //opacity: 0.55;
  height: 25px;
}
.header-button {
  margin-left: 20px;
}
.header-buttonText {
  vertical-align: middle;
}