.repoDetails-name {
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', sans;
  margin: 0;
  font-size: fontSize(24px);
  color: $mainColor3;
  text-align: center;
}
.repoDetails-author {
  font-weight: 300;
  font-family: 'Playfair Display', sans;
  font-size: fontSize(14px);
}
.repoDetails-authorName {
  text-decoration: underline;
  color: $mainColor2;
}
.repoDetails-image {
  width: 100%;
}
.repoDetails-info {
  background-color: $mainColor1;
}
.repoDetails-infoHeader {
  margin: 0;
  font-family: 'Playfair Display', sans;
  font-size: fontSize(18px);
  border-bottom: solid 1px $mainColor3;
}

.repoDetails-infoKey, .repoDetails-infoValue {
  font-family: 'Playfair Display', sans;
  font-weight: 300;
  color: $mainColor3;
  font-size: fontSize(18px);
  vertical-align: top;
}

.repoDetails-skillsContainer {
  display: flex;
  flex-wrap: wrap;
}

.repoDetails-trainingCenterLogo {
  width: 25px;
}


@include tabletAndDesktop {
  .repoDetails {
    display: flex;
    flex-wrap: wrap;
  }
  .repoDetails-name {
    font-size: fontSize(48px);
    flex: 0 0 70%;
    order: -1;
  }
  .repoDetails-author {
    font-size: fontSize(36px);
  }
  .repoDetails-imageContainer {
    order: -1;
    flex: 0 0 30%;
  }
  .repoDetails-contact {
    order: -1;
    flex: 0 0 70%;
    padding: 0 20%;
    margin-top: -7%;
  }
  .repoDetails-infoKey, .repoDetails-infoValue {
    padding-bottom: 0;
    padding-top: 11px;
  }
  .repoDetails-infoContainer {
    flex: 0 0 70%;
  }
  .repoDetails-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-conent: space-between;
  }
  .repoDetails-infoHeader {
    flex: 0 0 100%;
  }
  .repoDetails-infoTableContainer {
    flex: 1 1 50%;
  }
  .repoDetails-skillsSection {
    flex: 1 1 50%;
  }
  .repoDetails-skillsHeader {
    display: inline-block;
    margin-bottom: 10px;
  }
}

@include tablet {
  .repoDetails-contact {
    margin-top: 0;
  }
}