.repoForm {
  position: relative;
}
.repoForm-loader {
  z-index: 1;
}
.repoForm-inputBlock {
  margin-bottom: 20px;
}
.repoForm-inlineInput {
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
  &:first-child {
    margin-left: 0;
  }
}
.repoForm-form.is-hidden {
  visibility: hidden;
}