.repoPreview-content {
  position: relative;
  background-color: $mainColor1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repoPreview-author {
  display: inline-block;
  margin: 0;  
}

.repoPreview-name {
  font-size: fontSize(24px);
  font-family: 'Playfair Display', sans;
  color: $mainColor3;
  margin: 0;
}
.repoPreview-image {
  display: block;
  margin: 0 auto;
  width: 120px;
  border-radius: 50%;
}
.repoPreview-skillsContainer {
  display: flex;
  flex-wrap: wrap;
}

.repoPreview-trainingCenter {
  margin-bottom: 10px;
}

.repoPreview-trainingCenterLogo {
  height: 25px;
}

.repoPreview-adminPanel {
  border-top: solid 1px $mainColor3;
  padding-top: $mainMarginTabletDesktop/2;
}

.repoPreview-detailsTable {
  margin: 0 auto;
}

.repoPreview-detailKey, .repoPreview-detailValue {
  font-family: 'Playfair Display', sans;
  padding-top: 0;
  padding-bottom: 5px;
  font-weight: 300;
  color: $mainColor3;
  font-size: fontSize(18px);
  vertical-align: top;
}

@include tabletAndDesktop {
  .repoPreview-content {
    padding-top: 40px;
  }
  .repoPreview-topPart {
    position: relative;
    min-height: 164px;
    padding-left: 198px;
  }
  .repoPreview-name {
    padding: $mainMarginTabletDesktop/2 0;
    margin: 0 $mainMarginTabletDesktop/2;
    border-bottom: solid 1px #a5a1ab;
  }
  .repoPreview-bottomPart {
    display: flex;
    flex-direction: row;
  }
  .repoPreview-metaInformation {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    order: -1;
    flex: 0 0 198px;
  }
  .repoPreview-imageContainer {
    padding: 0;
  }
  .repoPreview-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -164px;
  }
  .repoPreview-button {
    flex-grow: 1;
  }
}