.repoContent {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 250px;

}
.repoContent-description {
  font-family: 'Playfair Display', sans;
  color: $mainColor3;
  font-size: fontSize(18px);
  margin: 0;
}
.repoContent-fsIcon {
  vertical-align: middle;
  width: 24px;
  height: 20px;
}
.repoContent-fsRow {
  padding: 5px 10px;
  cursor: pointer;
  border: solid 1px grey;
  border-right: none;
  border-top: none;
  background-color: white;
}
.repoContent-fsRow:hover {
  background-color: #f5f5f5;
}
.repoContent-fsRow:first-child {
  border-top: solid 1px grey;
}
.repoContent-fileContent {
  padding: 0;
}
.repoContent-error {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.repoContent-errorText {
  font-size: 14px;
}

.repoContent-contact {
  display: none;
}

@include tabletAndDesktop {
  .repoContent {
    flex-direction: row;
  }
  .repoContent-description {
    flex: 0 0 30%;
    order: 2;
  }
  .repoContent-fileSystem {
    flex: 0 0 70%;
  }
  .repoContent-fsRow {
    border-top: none;
    border-right: solid 1px grey;
  }
  .repoContent-contact {
    display: block;
  }
}