.repoEdit-container {
  margin: 20px;
  padding: 20px;
}
.repoEdit-header {
  margin: 0;
  font-size: fontSize(22px);
  font-family: Raleway, 'sans-serif';
}
.repoEdit-repoName {
  margin: 0;
  font-size: fontSize(26px);
  font-weight: 600;
  font-family: Raleway, 'sans-serif';
}
.repoEdit-content {
  border-top: solid 2px $mainColor2;
}