.submitButton-container {
  position: relative;
}
.submitButton {
  @extend .u-greenButton;
  @extend .u-greenButton--big;
  position: relative;
  height: 55px;
  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
  }
}
.submitButton-text {
  vertical-align: middle;
  font-size: 16px;
  &.is-hidden {
    visibility: hidden;
  }
}
.submitButton-loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  &.is-hidden {
    visibility: hidden;
  }
}
.submitButton-loaderIcon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.submitButton-notification {
  position: absolute;
  white-space: nowrap;
  color: red;
  left: 0;
  font-size: fontSize(14px);
  margin-top: 16px;
  &.is-success {
    color: #88b04b;
  }
  &.is-error {
    color: red;
  }
  &--right {
    left: calc(100% + 16px);
    bottom: 0;
  }
}
.submitButton-notificationText {
  vertical-align: middle;
}

.submitButton-icon {
  vertical-align: middle;
  &.is-success {
    width: 20px;
    height: 20px;
    fill: #88b04b;
  }
  &.is-error {
    width: 22px;
    height: 22px;
    fill: red;
  }
}

@include tabletAndDesktop {
  .submitButton-text {
    font-size: fontSize(18px);
  }
}