.toggle-label {
  @extend .u-inputLabel;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 24px;
}
.toggle-switch input {
  display:none;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #929497;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 25px;
  border: solid 1px #929497;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-slider.is-checked {
  background-color: $mainColor2;
}

.toggle-slider.is-checked:before {
  transform: translateX(32px);
}

.toggle-error {
  width: 100%;
}