.trainingCenter-requestDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: top;
  padding: 10px;
  padding-bottom: 23px;
  border: solid 1px #d3d3d3;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  margin-bottom: -3px;
}
.trainingCenter-requestMessage {
  
}
.trainingCenter-logo {
  width: 350px;
}
.trainingCenter-formLine {
  display: block;
  margin-bottom: 20px;
}
.trainingCenter-switchLabel {
  display: block;
}
.trainingCenter-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.trainingCenter-switch input {
  display:none;
}

.trainingCenter-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.trainingCenter-slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.trainingCenter-slider.is-checked {
  background-color: #2196F3;
}

.trainingCenter-slider.is-checked:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
