.trainingCenterHome {
  margin: 0;
}
.trainingCenterHome-requestDetails {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px; 
  margin-bottom: -25px;
}
.trainingCenterHome-declineMessage {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  z-index: 1;
  border: solid 1px $mainColor3;
}
.trainingCenterHome-declineMessageInput {
  display: block;
}
.trainingCenterHome-logo {
  width: 350px;
}
.trainingCenterHome-formLine {
  display: block;
  margin-bottom: 20px;
}
.trainingCenterHome-switchLabel {
  display: block;
}

.trainingCenterHome-profileDetails {
  border: solid 1px #d3d3d3;
  border-radius: 4px;
}

