.trainingCenter-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: flex-start;
}
.trainingCenter-avatar {
  width: 130px;
  align-self: center;
  border-radius: 50%;
}

.trainingCenter-name {
  font-family: 'Playfair Display', sans;
  font-size: fontSize(24px);
  text-align: center;
  font-weight: 300;
  margin: 0;
  color: $mainColor3;
}

.trainingCenter-detailsTable {
  margin: 0 auto;
}

.trainingCenter-website {
  font-family: 'Playfair Display', sans;
  font-size: fontSize(18px);
}

.trainingCenter-detailKey, .trainingCenter-detailValue {
  font-family: 'Playfair Display', sans;
  padding-top: 0;
  padding-bottom: 5px;
  font-weight: 300;
  color: $mainColor3;
  font-size: fontSize(18px);
  vertical-align: top;
}

@include tabletAndDesktop {
  .trainingCenter {
    display: flex;
  }
  .trainingCenter-info {
    margin: $mainMargin / 2;
  }
  .trainingCenter-repos {
    padding: 0;
    margin: $mainMargin / 2;
  }
}