.userHome {
  display: flex;
  align-items: stretch;
}
.userHome-search {
  margin: 20px;
}
.userHome-projectsList {
  max-width: 100%;
}
.userHome-message {
  padding: 20px;
}
.userHome-importedRepos {
  margin: 20px;
}
.userHome-importedLabel {
  margin: 0 12px;
  padding: 6px 12px;
}
.userHome-developerInfo {
  display: flex;
  align-items: stretch;
}