.u-link {
  color: #4078c0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.u-blueInlineLabel {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 11px;
}

.u-textCenter {
  text-align: center;
}

.u-actionElement {
  cursor: pointer;
}

.u-zIndex1 {
  z-index: 1;
}
