$mainMargin: 22px;
$mainMarginTabletDesktop: 34px;

$footerHeight: 204px;
$footerHeightTabletAndDesktop: 215px;

$mainColor1: #e1eff0;
$mainColor2: #88b04b;
$mainColor3: #3e3c41;
$mainColor4: #c2d5d8;
$emphasizeColor: #385571;
$errorBackgroundColor: #fd7676;

$warningColor: #d9ba2e;
$errorWarning: #b32f3d;