.developerDetails-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.developerDetails-avatar {
  width: 130px;
  height: 130px;
  align-self: center;
  border-radius: 50%;
}

.developerDetails-name {
  font-family: 'Playfair Display', sans;
  font-size: fontSize(24px);
  text-align: center;
  font-weight: 300;
  margin: 0;
  color: $mainColor3;
}
.developerDetails-position {
  font-family: 'Playfair Display', sans;
  font-size: fontSize(14px);
  color: $mainColor3;
  padding-bottom: 6px;
  border-bottom: solid 1px $mainColor3;
}
.developerDetails-detailsTable {
  margin: 0 auto;
}

.developerDetails-detailKey, .developerDetails-detailValue {
  font-family: 'Playfair Display', sans;
  padding-top: 0;
  padding-bottom: 5px;
  font-weight: 300;
  color: $mainColor3;
  font-size: fontSize(18px);
  vertical-align: top;
}
.developerDetails-trainingCenterLogo {
  height: 18px;
}
.developerDetails-skillsContainer {
  display: flex;
  flex-wrap: wrap;
}

.developerDetails-darkLabel {
  background-color: #385571;
  color: white;
  font-weight: 300;
  font-family: Raleway, 'sans-serif';
}
.developerDetails-lightLabel {
  background-color: #e1eff0;
  color: black;
  font-weight: 300;
  font-family: Raleway, 'sans-serif';
}

.develoeprDetails-contact {
  text-align: center;
  font-family: 'Playfair Display', sans;
  font-size: 18px;
}
.developerDetails-verifiedSign {
  display: inline-block;
  margin-top: 5px;
  padding: 3px 10px;
  color: white;
  border-radius: 10px;
  font-size: fontSize(14px);
  letter-spacing: 0.5px;
  font-family: Raleway, 'sans-serif';
  &--true {
    background-color: $successBackgroundColor;
  }
  &--false {
    background-color: $warningColor;
  }
}
@include tabletAndDesktop {
  .developerDetails {
    display: flex;
  }
  .developerDetails-info {
    margin: $mainMargin / 2;
  }
  .developerDetails-repos {
    padding: 0;
    margin: $mainMargin / 2;
  }
  .developerDetails-skillsContainer {
    order: 1;
  }
  .developerDetails-personalInfo {
    padding-top: 0;
    padding-bottom: 0;
  }
}