<form class="u-block">
  <div class="form-group">
    <label>New skill
      <input class="form-control" placeholder="Input name" ng-model="$ctrl.newSkillName" />
    </label>
  </div>
  <button ng-click="$ctrl.addSkill()" class="btn btn-primary">Add</button>
</form>
<article class="u-block" ng-if="$ctrl.mergingTo">
  <h3>Merge</h3>
  <h4>Merging to "{{$ctrl.mergingTo.name}}"</h4>
  <ul>
    <li ng-repeat="skill in $ctrl.skillsToMerge">
      {{skill.name}}
    </li>
  </ul>
  <button class="btn btn-primary" ng-click="$ctrl.merge()">Merge</button>
</article>
<div class="u-block">
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th class="adminSkills-narrowColumn">Merge to this skill</th>
      <th class="adminSkills-narrowColumn">Merge this skill in</th>
      <th class="adminSkills-narrowerColumn">Remove</th>
    </thead>
    <tbody>
      <tr ng-repeat="skill in $ctrl.skills">
        <th>{{skill.name}}</th>
        <th class="adminSkills-narrowColumn">
          <input 
            type="checkbox" 
            ng-model="skill.mergingTo" 
            ng-change="$ctrl.onMergeToChange(skill)" 
            ng-disabled="$ctrl.mergingTo && !skill.mergingTo"
          />
        </th>
        <th class="adminSkills-narrowColumn">
          <input 
            type="checkbox" 
            ng-model="skill.mergingIn"
            ng-change="$ctrl.onMergeInChange(skill)"
            ng-disabled="skill.mergingTo"
          />
        </th>
        <th class="adminSkills-narrowerColumn u-textCenter">
          <svg class="u-buttonIcon adminSkills-icon u-actionElement" ng-click="$ctrl.removeSkill(skill)">
            <use xlink:href="#client--svg--cross"/>
          </svg>
        </th>
      </tr>
    </tbody>
  </table>
</div>