<footer class="footer">
  <div class="footer-column footer-column--first">
    <img 
      class="footer-logo"
      src="client/assets/images/logo-light.png"
    >
    <span class="u-actionElement" ng-hide="true">How it works?</span>
    <span class="u-actionElement" ng-hide="true">Privacy policy</span>
  </div>
  <div class="footer-column footer-column--second">
    <span>Contact Us</span>
    <span class="footer-smallText footer-email">hirebycode@gmail.com</span>
  </div>
  <div class="footer-column footer-column--third">
  </div>
  <div class="footer-column footer-column--fourth">
    Login as a training center
    <div class="footer-subColumn">
      <div class="footer-button u-actionElement" ui-sref="training-center-login">Log In</div>
      <span class="footer-smallerText footer-loginHelp">If you don't have an account - please contact us</span>
    </div>
  </div>
</footer>