<footer class="footer">
  <div class="footer-column footer-column--first">
    <div class="footer-line">
      <img 
        class="footer-logo"
        src="client/assets/images/logo-light.png"
      >
    </div>
    <div class="footer-line">
      <span class="u-actionElement" ui-sref="how-it-works">How it works?</span>
      <span class="u-actionElement" ng-hide="true">Privacy policy</span>
    </div>
  </div>
  <div class="footer-column">
    <span class="footer-line">Contact Us</span>
    <span class="footer-smallText footer-line footer-email">hirebycode@gmail.com</span>
  </div>
  <div class="footer-column footer-column--third">
  </div>
  <div class="footer-column footer-column--fourth">
    <span class="footer-line">Login as a training center</span>
    <div class="footer-subColumn footer-line"">
      <div class="footer-button u-actionElement" ui-sref="training-center-login">Log In</div>
      <span class="footer-smallerText footer-loginHelp">If you don't have an account - please contact us</span>
    </div>
  </div>
</footer>