<style>
  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 35px;
    }
    a {
      margin: 40px 0 !important;
      padding: 20px 10px !important;
    }
  }
</style>
<div style="text-align: center; font-family: sans-serif; color: #3e3c41; padding-bottom: 50px;">
  <img src="https://res.cloudinary.com/hjpyahjus/image/upload/v1494340644/email-header_dojqbs.jpg" 
  style="width: 100%" />
  <h1
    style="font-weight: 300; font-size: 40px;"
  >Email Verification</h1>
  <div style="font-size: 23px;">
    Hey there, we are almost done. <br/>Only need to verify your email.
  </div>
  <a href="{{{rootUrl}}}/verify-email/{{{token}}}" style="display: block; cursor: pointer; padding: 15px 15px; margin: 80px 12%; font-size: 23px; color: white; background-color: #88b04b; text-decoration: none;">Verify email address</a>
  <div style="font-size: 20px;"> If you don’t understand why you received it,<br/> please detele it and nevermind.<br/> Forget it happended. </div>
</div>