<html>
  <head>
    <title>Show Room</title>
    <meta charset="UTF-8"/>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="client/application.css" rel="stylesheet" />
    
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

    <link rel='stylesheet' href='/node_modules/textangular/dist/textAngular.css'>
    <script src='/node_modules/textangular/dist/textAngular-rangy.min.js'></script>
    <script src='/node_modules/textangular/dist/textAngular-sanitize.min.js'></script>
    <script src='/node_modules/textangular/dist/textAngular.min.js'></script>

    <script src="/client/js/vendor/ng-file-upload.min.js"></script>
    <script src="/client/js/vendor/ng-file-upload-shim.min.js"></script>

    <script src="/client/js/vendor/highlight.pack.js"></script>
    <script src="/node_modules/highlightjs-line-numbers.js/dist/highlightjs-line-numbers.min.js"></script>
    
    <script src="/client/js/app.js"></script>

    <script src="/client/js/services/apiInterceptorService.js"></script>
    <script src="/client/js/services/userLocalService.js"></script>
    <script src="/client/js/services/userService.js"></script>
    <script src="/client/js/services/skillsService.js"></script>
    <script src="/client/js/services/reposService.js"></script>
    <script src="/client/js/services/userReposService.js"></script>
    <script src="/client/js/services/authService.js"></script>
    <script src="/client/js/services/githubRepoService.js"></script>
    <script src="/client/js/services/trainingCentersService.js"></script>
    <script src="/client/js/services/developerService.js"></script>

    <script src="/client/js/controllers/headerController.js"></script>
    <script src="/client/js/controllers/loginController.js"></script>
    <script src="/client/js/controllers/homeController.js"></script>
    <script src="/client/js/controllers/userHomeController.js"></script>
    <script src="/client/js/controllers/importController.js"></script>
    <script src="/client/js/controllers/editController.js"></script>
    <script src="/client/js/controllers/developerController.js"></script>
    <script src="/client/js/controllers/repoDetailsController.js"></script>
    <script src="/client/js/controllers/trainingCenterLoginController.js"></script>
    <script src="/client/js/controllers/trainingCenterHomeController.js"></script>
    <script src="/client/js/controllers/githubLoginController.js"></script>
    <script src="/client/js/controllers/editDeveloperProfileController.js"></script>
    <script src="/client/js/controllers/adminLoginController.js"></script>
    <script src="/client/js/controllers/adminPanelController.js"></script>
    <script src="/client/js/controllers/adminSkillsController.js"></script>

    <script src="/client/js/directives/file-content-directive.js"></script>

    <script src="/client/js/components/repoContentComponent.js"></script>
    <script src="/client/js/components/repoContactsComponent.js"></script>
    <script src="/client/js/components/repoFormComponent.js"></script>
    <script src="/client/js/components/repoDetailsComponent.js"></script>
    <script src="/client/js/components/repoPreviewComponent.js"></script>
    <script src="/client/js/components/developerPreviewComponent.js"></script>
    <script src="/client/js/components/developerInfoComponent.js"></script>
  </head>
  <body ng-app="showroom">
    <div id="svg-icons" style="display: none;"></div>
    <header class="header clearfix" ng-controller="HeaderController">
        <h3 class="header-logo" ui-sref="home">Hire By Code</h3>
        <button class="header-button btn btn-success pull-right" ng-hide="isLoggedIn" ui-sref="login">Log In</button>
        <button class="header-button btn btn-success pull-right" ng-show="isLoggedIn" ui-sref="account">My Account</button>
        <button class="header-button btn btn-default pull-right" ng-show="isLoggedIn" ng-click="logOut()">Log Out</button>
    </header>
    <main ui-view class="container-fluid">
    </main>
    <script src="/client/icons.js"></script>
  </body>
</html>
