<html>
  <head>
    <title>Hire by code</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">
    <link href="node_modules/ui-select/dist/select.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link href="client/application.css" rel="stylesheet" />
    <link rel="icon" 
      type="image/jpg" 
      href="/h-logo-32.jpg">

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCDn0djyxvWJL-t_nvmhp7OKJKk1V9iMfI&language=en"></script>

    <!-- build:js /client/vendor.min.js -->
    <script src="/client/js/vendor/angular.js"></script>
    <script src="/client/js/vendor/angular-ui-router.js"></script>
    <script src='/client/js/vendor/select.js'></script>
    <script src='/client/js/vendor/angular-sanitize.js'></script>
    <script src="/client/js/vendor/ng-file-upload.min.js"></script>
    <script src="/client/js/vendor/ng-img-crop.js"></script>
    <script src="/client/js/vendor/ng-file-upload-shim.min.js"></script>
    <script src="/client/js/vendor/highlight.pack.js"></script>
    <script src="/client/js/vendor/highlightjs-line-numbers.min.js"></script>
    <script src="/client/js/vendor/vs-google-autocomplete.min.js"></script>
    <script src='/client/js/vendor/angular-recaptcha.min.js'></script>
    <script src='/client/js/vendor/angular-google-analytics.min.js'></script>
    <!-- endbuild -->

    <!-- build:js /client/app.min.js -->
    <script src="/client/js/app.js"></script>

    <script src="/client/js/services/apiInterceptorService.js"></script>
    <script src="/client/js/services/userLocalService.js"></script>
    <script src="/client/js/services/userService.js"></script>
    <script src="/client/js/services/skillsService.js"></script>
    <script src="/client/js/services/reposService.js"></script>
    <script src="/client/js/services/userReposService.js"></script>
    <script src="/client/js/services/authService.js"></script>
    <script src="/client/js/services/githubRepoService.js"></script>
    <script src="/client/js/services/trainingCentersService.js"></script>
    <script src="/client/js/services/developerService.js"></script>
    <script src="/client/js/services/adminTrainingCentersService.js"></script>
    <script src="/client/js/services/adminDevelopersService.js"></script>
    <script src="/client/js/services/filtersService.js"></script>
    <script src="/client/js/services/locationsService.js"></script>
    <script src="/client/js/services/configService.js"></script>
    <script src="/client/js/services/analyticService.js"></script>

    <script src="/client/js/controllers/headerController.js"></script>
    <script src="/client/js/controllers/loginController.js"></script>
    <script src="/client/js/controllers/homeController.js"></script>
    <script src="/client/js/controllers/userHomeController.js"></script>
    <script src="/client/js/controllers/importController.js"></script>
    <script src="/client/js/controllers/editController.js"></script>
    <script src="/client/js/controllers/developerController.js"></script>
    <script src="/client/js/controllers/repoDetailsController.js"></script>
    <script src="/client/js/controllers/trainingCenterController.js"></script>
    <script src="/client/js/controllers/trainingCenterLoginController.js"></script>
    <script src="/client/js/controllers/trainingCenterHomeController.js"></script>
    <script src="/client/js/controllers/githubLoginController.js"></script>
    <script src="/client/js/controllers/editDeveloperProfileController.js"></script>
    <script src="/client/js/controllers/adminLoginController.js"></script>
    <script src="/client/js/controllers/adminPanelController.js"></script>
    <script src="/client/js/controllers/adminSkillsController.js"></script>
    <script src="/client/js/controllers/adminTrainingCentersController.js"></script>
    <script src="/client/js/controllers/adminDevelopersController.js"></script>
    <script src="/client/js/controllers/adminTrainingCenterDetailsController.js"></script>
    <script src="/client/js/controllers/adminDeveloperDetailsController.js"></script>

    <script src="/client/js/directives/file-content-directive.js"></script>

    <script src="/client/js/components/repo/repoContentComponent.js"></script>
    <script src="/client/js/components/repo/repoContactsComponent.js"></script>
    <script src="/client/js/components/repo/repoFormComponent.js"></script>
    <script src="/client/js/components/repo/repoDetailsComponent.js"></script>
    <script src="/client/js/components/repo/repoPreviewComponent.js"></script>
    <script src="/client/js/components/repo/repoListComponent.js"></script>

    <script src="/client/js/components/developer/developerPreviewComponent.js"></script>
    <script src="/client/js/components/developer/developerInfoComponent.js"></script>
    <script src="/client/js/components/developer/developerAvatarComponent.js"></script>
    <script src="/client/js/components/developer/developerListComponent.js"></script>

    <script src="/client/js/components/home/importPromotionComponent.js"></script>
    <script src="/client/js/components/home/searchComponent.js"></script>
    <script src="/client/js/components/home/searchToggleComponent.js"></script>
    <script src="/client/js/components/home/searchFiltersComponent.js"></script>
    <script src="/client/js/components/home/searchFiltersIndicatorComponent.js"></script>
    
    <script src="/client/js/components/ui/submitButtonComponent.js"></script>
    <script src="/client/js/components/ui/loaderComponent.js"></script>

    <script src="/client/js/components/root/headerComponent.js"></script>
    <script src="/client/js/components/root/footerComponent.js"></script>

    <!-- endbuild -->
    <script>
    {{#if isProduction}}
        window.env = 'production';
    {{else}}
        window.env = 'local';
    {{/if}}
    </script>
  </head>
  <body ng-app="showroom" class="root-body">
    <div id="svg-icons" style="display: none;"></div>
    <sr-header></sr-header>
    <main ui-view class="container-fluid root-wrapper">
    </main>
    <sr-footer></sr-footer>
    <script src="/client/icons.js"></script>
  </body>
</html>
