<html>
  <head>
    <title>Show Room</title>
    <meta charset="UTF-8"/>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="client/application.css" rel="stylesheet" />
    
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/client/js/vendor/highlight.pack.js"></script>
    <script src="/client/js/app.js"></script>
    <script src="/client/js/services/apiInterceptorService.js"></script>
    <script src="/client/js/services/userService.js"></script>
    <script src="/client/js/services/reposService.js"></script>
    <script src="/client/js/services/authService.js"></script>
    <script src="/client/js/services/githubRepoService.js"></script>
    <script src="/client/js/controllers/headerController.js"></script>
    <script src="/client/js/controllers/homeController.js"></script>
    <script src="/client/js/controllers/userHomeController.js"></script>
    <script src="/client/js/controllers/importController.js"></script>
    <script src="/client/js/controllers/editController.js"></script>
    <script src="/client/js/controllers/githubLoginController.js"></script>
    <script src="/client/js/directives/highlight-directive.js"></script>

  </head>
  <body ng-app="showroom">
    <div id="svg-icons" style="display: none;"></div>
    <header class="header clearfix" ng-controller="HeaderController">
        <button class="btn btn-success pull-right" ng-hide="isLoggedIn" ng-click="logIn()">Log In</button>
        <button class="btn btn-default pull-right" ng-show="isLoggedIn" ng-click="logOut()">Log Out</button>
    </header>
    <main ui-view class="container-fluid">
    </main>
    <script src="/client/icons.js"></script>
  </body>
</html>