.filtersIndicators-indicatorOuter {
  display: inline-block;
}
.filtersIndicators-indicator {
  border: solid 1px black;
  padding: 3px 5px;
  font-family: Raleway, 'sans-serif';
  cursor: pointer;
}
.filtersIndicators-innerText {
  margin-right: 24px;
  color: $mainColor3;
}
.filtersIndicators-icon {
  width: 14px;
  height: 14px;
}

@include tabletAndDesktop {
  .filtersIndicators-indicator {
    padding: 12px 10px;
    font-size: fontSize(18.6px);
  }
  .filtersIndicators-icon {
    width: 20px;
    height: 20px;
  }
}