<section class="repoEdit-container well">
  <h2>{{$ctrl.repo.name}}</h2>
  <div class="clearfix">
    <button class="btn btn-primary pull-right" ng-click="$ctrl.switchToPreview()">See public version</button>
  </div>
  <repo-form 
    repo="$ctrl.repo"
    state="$ctrl.state"
    success-state="'Updated'"
    error-state="'Something went wrong'"
    submit-callback="$ctrl.submit()"></repo-form>
</section>
<section class="repoEdit-container well">
  <div class="repoEdit-content">
    <sr-repo-content repo="$ctrl.repo"></sr-repo-content>
  </div>
</section>