<main class="u-block">
  <section class="u-block u-paper">
    <div ng-if="$ctrl.hasBackButton">
      <svg class="editDeveloper-backIcon" ui-sref="user-home">
        <use xlink:href="#client--svg--back-sharp" />
      </svg>
    </div>
    <form name="$ctrl.form" novalidate>
      <div class="editDeveloper-topPart">
        <div class="editDeveloper-inputsColumn">
          <h2 class="editDeveloper-header">{{$ctrl.headerText}}</h2>
          <sr-info-notification 
            ng-if="!$ctrl.info.profileReadyForPublic" 
            class="u-block editDeveloper-notification"
            text="'<b>Your profile is not included in search.</b> We show profiles only with contact info and personal information in search results.'"
          ></sr-info-notification>
          <sr-input
            name="'firstName'"
            form="$ctrl.form"
            ng-model="$ctrl.info.firstName"
            label="'First name'"
            required="true"
          ></sr-input>
          <sr-input
            name="'lastName'"
            form="$ctrl.form"
            ng-model="$ctrl.info.lastName"
            label="'Last name'"
            required="true"
          ></sr-input>
        </div>
        <div class="editDeveloper-imageColumn u-block">
          <sr-developer-avatar 
            image-class-name="'editDeveloper-avatarImage'"
            icon-class-name="'editDeveloper-avatarIcon'"
            class="editDeveloper-avatar" avatar-url="$ctrl.info.avatar"
          ></sr-developer-avatar>
        </div>
      </div>
      <sr-input
        name="'desiredPosition'"
        form="$ctrl.form"
        ng-model="$ctrl.info.desiredPosition"
        label="'Desired position'"
      ></sr-input>
      <sr-input
        name="'email'"
        required="true"
        form="$ctrl.form"
        ng-model="$ctrl.info.email"
        pattern-error="'It looks like you have provided an invalid email'"
        label="'Email (when someone will want to hire, they will need a way to reach to you)'"
      ></sr-input>
      <label class="u-inputContainer u-block">
        <span class="u-inputLabel">Location<sr-red-star></sr-red-star></span>
        <input
          vs-google-autocomplete="$ctrl.autocompleteOptions"
          ng-model="$ctrl.location"
          name="location"
          required
          vs-city="$ctrl.info.city" 
          vs-country="$ctrl.info.country" 
          vs-place-id="$ctrl.info.placeId"
          type="text" 
          class="u-input"
          placeholder="Enter city name"
        >
        <div
          class="u-error"
          ng-show="$ctrl.form.$submitted || $ctrl.form.location.$touched">
          <div 
            ng-show="$ctrl.form.location.$error.required">This field is required</div>
        </div>
      </label>
      <sr-select
        label="'English level'"
        name="'englishLevel'"
        form="$ctrl.form"
        ng-model="$ctrl.info.englishLevel"
        options="$ctrl.englishLevels"
        default-text="'Select your English level'"
      ></sr-select>
      <sr-toggle
        label="'Ready to relocate'"
        label-class="'editDeveloper-toggleLabel'"
        toggle-class="'editDeveloper-toggle'"
        container-class="'editDeveloper-toggleLabelContainer'"
        name="'englishLevel'"
        form="$ctrl.form"
        ng-model="$ctrl.info.relocateReady"
      ></sr-toggle>
      <div class="u-block editDeveloper-buttons">
        <sr-submit-button 
          error-text="'Something went wrong'"
          success-text="'Your account was updated'"
          class="editDeveloper-submitButton"
          state="$ctrl.state"
          ng-click="$ctrl.submit(info)"
        >
          {{$ctrl.submitButtonText}}
        </sr-submit-button>
        <button type="button" class="editDeveloper-cancelButton u-whiteButton" ui-sref="user-home">
          {{$ctrl.cancelButtonText}}
        </button>
      </div>
    </form>
  </section>
</main>
