<section class="repoEdit-container well">
  <h2>{{repo.name}}</h2>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Describtion:  </label>
      <input class="form-control" placeholder="Description..." ng-model="newRepo.description">
    </div>
    <div class="checkbox" ng-repeat="skill in skills">
      <label>
        <input type="checkbox" ng-model="skill.picked"> {{skill.name}}
      </label>
    </div>
    <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
  </form>
  <div class="repoEdit-content">
    <div class="fs-row" ng-repeat="item in repoContent">
      <span>{{item.name}}</span>
    </div>
  </div>
</section>