<section class="login">
  <article class="login-option">
    Looking for a developer to join your team?
    <button class="btn btn-primary login-button">Login as an employer</button>
  </article>
  <article class="login-option">
    Looking for a job and have some good code to show?
    <button class="btn btn-primary login-button" ng-click="logInAsDeveloper()">
      <svg class="login-githubIcon">
        <use xlink:href="#client--svg--github"/>
      </svg>
      Login as a developer
    </button>
  </article>
  <article class="login-option">
    Would like to help your graduates to get a job?
    <button class="btn btn-primary login-button" ui-sref="training-center-login">Login as a training center</button>
  </article>
</section>