<main class="u-block u-block--onlyVertical trainingCenter">
  <section class="col-sm-3 u-paperVertical--mobile u-paper--desktop u-block trainingCenter-info">
    <img class="trainingCenter-avatar" src="{{$ctrl.trainingCenter.logo}}">
    <div class="u-block">
      <h2 class="trainingCenter-name">{{$ctrl.trainingCenter.name}}</h2>
    </div>
    <article class="u-block trainingCenter-personalInfo">
      <table class="trainingCenter-detailsTable">
        <tr class="trainingCenter-detailRow" ng-if="$ctrl.trainingCenter.website">
          <th class="trainingCenter-detailKey u-block">Website: </th>
          <th class="trainingCenter-detailValue u-block">
            <a class="u-link" target="_blank" href="{{$ctrl.trainingCenter.website}}">
              {{$ctrl.trainingCenter.name}}
            </a>
          </th>
        </tr>
        <tr class="trainingCenter-detailRow" ng-if="$ctrl.trainingCenter.description">
          <th class="trainingCenter-detailKey u-block">Description: </th>
          <th class="trainingCenter-detailValue u-block">{{$ctrl.trainingCenter.description}}</th>
        </tr>
      </table>
    </article>
  </section>
  <sr-search
    class="col-sm-9"
    predefined-filters="$ctrl.predefinedFilters"
    hidden-filters="$ctrl.hiddenFilters"
    header="'Filters'"
  ></sr-search>
  
</main>