<div class="userHome-projectsList">
  <ul class="list-group"  ng-show="userFound">
    <li class="list-group-item clearfix" ng-repeat="repo in userRepos">
      {{repo.name}}
      <button class="btn btn-primary pull-right" ng-click="import(repo)" ng-hide="repo.imported">Import</button>
      <span ng-show="repo.imported" class="pull-right">
        <span class="btn btn-info userHome-importedLabel" ng-show="repo.imported" ng-click="editRepo(repo)">Edit</span>
        <button class="btn btn-warning"  ng-class="{disabled: repo.isDeleting}" ng-click="deleteRepo(repo)">Remove</button>  
      </span>
      
    </li>
  </ul>
  <div class="panel userHome-message panel-warning" ng-hide="userFound">
    Sorry, no user found.
  </div>
</div>