<main class="userHome u-block">
  <developer-info class="col-md-4 userHome-developerInfo"></developer-info>
  <section class="col-md-8 u-block u-paper userHome-projectsList">
    <article 
      class="userHome-notImported u-block" 
      ng-if="$ctrl.userGithubRepos.length > 0"
    >
      <div class="userHome-notImportedAmount u-block" 
        ng-click="$ctrl.openNotImported()"
        ng-if="!$ctrl.notImportedOpened">
        <b>{{$ctrl.userGithubRepos.length}}</b>&nbsp;<span>more available for import projects</span>
      </div>
      <ul class="userHome-notImportedList" ng-if="$ctrl.notImportedOpened">
        <li class="userHome-notImportedItem" ng-repeat="repo in $ctrl.userGithubRepos">
          {{repo.name}}
          <button class="u-greenButton" ng-click="$ctrl.import(repo)">Import</button>
        </li>
        <li>
          <!--<sr-pull-repo-by-link
              on-pull-success="$ctrl.import(repo)"
          ></sr-pull-repo-by-link>-->
        </li>
      </ul>
    </article>
    <sr-repo-preview
      class="userHome-repoPreview"
      ng-repeat="repo in $ctrl.userImportedRepos"
      repo="repo.hbcData"
    >
      <div class="userHome-repoAdminPanel u-block">
        <button class="u-greyWhiteButton userHome-adminButton" ng-click="$ctrl.editRepo(repo)">
          Edit
          <svg class="userHome-adminButtonIcon">
            <use xlink:href="#client--svg--pencil" />
          </svg>
        </button>
        <button class="u-greyWhiteButton userHome-adminButton" ng-class="{disabled: repo.hbcData.isDeleting}" ng-click="$ctrl.deleteRepo(repo)">
          Delete
          <svg class="userHome-adminButtonIcon">
            <use xlink:href="#client--svg--trash" />
          </svg>
        </button>
        <button class="u-greyWhiteButton userHome-adminButton" ng-class="{disabled: repo.hbcData.isHiding}" ng-show="repo.hbcData.hidden" ng-click="$ctrl.unhideRepo(repo)">
          Show
        </button>
        <button class="u-greyWhiteButton userHome-adminButton" ng-class="{disabled: repo.hbcData.isHiding}" ng-hide="repo.hbcData.hidden" ng-click="$ctrl.hideRepo(repo)">
          Hide
          <svg class="userHome-adminButtonIcon">
            <use xlink:href="#client--svg--hidden" />
          </svg>
        </button>
      </div>
    </sr-repo-preview>
    <sr-loader shown="$ctrl.reposState === 'loading'"></sr-loader>
    <div class="panel userHome-message panel-warning" ng-show="$ctrl.reposState === 'failed'">
      Sorry, no user found.
    </div>
  </section>
</main>