<main class="userHome u-block">
  <developer-info class="col-md-3 userHome-developerInfo"></developer-info>
  <section class="col-md-9 u-block u-paper userHome-projectsList">
    <article 
      class="userHome-notImported u-block" 
      ng-if="$ctrl.userGithubRepos.length > 0"
    >
      <div class="userHome-notImportedAmount u-block" 
        ng-click="$ctrl.openNotImported()"
        ng-if="!$ctrl.notImportedOpened">
        <b>{{$ctrl.userGithubRepos.length}}</b>&nbsp;<span>more available for import projects</span>
      </div>
      <ul class="userHome-notImportedList" ng-if="$ctrl.notImportedOpened">
        <li class="userHome-notImportedItem" ng-repeat="repo in $ctrl.userGithubRepos">
          {{repo.name}}
          <button class="u-whiteButton" ng-click="$ctrl.import(repo)">Import</button>
        </li>
      </ul>
    </article>
    <sr-repo-preview
      class="userHome-repoPreview"
      ng-repeat="repo in $ctrl.userImportedRepos"
      repo="repo.hbcData"
    >
      <div class="userHome-repoAdminPanel u-block">
        <button class="u-greyWhiteButton userHome-adminButton" ng-click="$ctrl.editRepo(repo)">Edit</button>
        <button class="u-greyWhiteButton userHome-adminButton" ng-class="{disabled: repo.hbcData.isDeleting}" ng-click="$ctrl.deleteRepo(repo)">Remove</button>
        <button class="u-greyWhiteButton userHome-adminButton" ng-class="{disabled: repo.hbcData.isHiding}" ng-show="repo.hbcData.hidden" ng-click="$ctrl.unhideRepo(repo)">Show</button>
        <button class="u-greyWhiteButton userHome-adminButton" ng-class="{disabled: repo.hbcData.isHiding}" ng-hide="repo.hbcData.hidden" ng-click="$ctrl.hideRepo(repo)">Hide</button>
      </div>
    </sr-repo-preview>
    
    <div class="panel userHome-message panel-primary" ng-show="reposState === 'loading'">
      Loading...
    </div>
    <div class="panel userHome-message panel-warning" ng-show="reposState === 'failed'">
      Sorry, no user found.
    </div>
  </section>
</main>