.u-greenButton {
  background-color: $mainColor2;
  color: white;
  border: solid 1px $mainColor2;
  padding: 15px 0;
  font-family: Raleway, 'sans-serif';
  &--small {
    padding: 6px 12px;
  }
  &--shadow {
    box-shadow: 0px 4px 0 0 #8e9697;
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0px 5px 0 0 #8e9697;
      box-shadow: 0px 4px 0 0 darken(#8e9697, 5%);
    }
  }
  &--big {
    width: 100%;
    font-size: fontSize(18px);
  }
}

.u-whiteButton {
  background-color: white;
  border: solid 1px $mainColor2;
  color: $mainColor2;
  padding: 15px 0;
  font-family: 'Raleway', 'sans-serif';
  &--small {
    padding: 6px 12px;
  }
  &--shadow {
    box-shadow: 0px 4px 0 0 #8e9697;
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0px 5px 0 0 #8e9697;
      box-shadow: 0px 4px 0 0 darken(#8e9697, 5%);
    }
  }
}

.u-greyWhiteButton {
  font-size: fontSize(20px);
  background-color: white;
  border: solid 1px $mainColor3;
  color: $mainColor3;
  padding: 8px 12px;
  line-height: 1.2;
}

@include tabletAndDesktop {
  .u-greenButton {
    font-size: fontSize(18px);
    padding: 8px 20px;
  }
  .u-whiteButton {
    font-size: fontSize(18px);
    padding: 8px 20px;
  }
}
