.u-inputContainer {
  position: relative;
  display: block;
  font-weight: 300;
  padding-bottom: 20px;
}
.u-inputLabel {
  font-weight: 600;
}
.u-error {
  position: absolute;
  bottom: 0;
  color: red;
}