.u-paperVertical {
  background-color: white;
  box-shadow: 0px 4px 0 0 #7d8d8e;
  margin-bottom: 4px;
}
.u-paper {
  background-color: white;
  box-shadow: 2px 3.5px 0 0 #bcbaba;
}
.u-paperShadow {
  box-shadow: 2px 3.5px 0 0 #bcbaba;
}
@include phone {
  .u-paperVertical--mobile {
    background-color: white;
    box-shadow: 0px 4px 0 0 #7d8d8e;
    margin-bottom: 4px;
  }
  .u-paper--mobile {
    background-color: white;
    box-shadow: 2px 3.5px 0 0 #bcbaba;
  }
}

@include tabletAndDesktop {
  .u-paper--desktop {
    background-color: white;
    box-shadow: 2px 3.5px 0 0 #bcbaba;
  }
  .u-paperShadow--desktop {
    box-shadow: 2px 3.5px 0 0 #bcbaba;
  }
}