.u-blockTitle {
  font-family: 'Raleway', sans-serif;
  font-size: fontSize(27.4px);
  margin: 0;
  @extend .u-block;
}
.u-link {
  color: #4078c0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.u-greenButton {
  background-color: $mainColor2;
  color: white;
  border: solid 1px $mainColor2;
  padding: 15px 0;
  font-family: Raleway, 'sans-serif';
  &--small {
    padding: 6px 12px;
  }
  &--shadow {
    box-shadow: 0px 4px 0 0 #8e9697;
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0px 5px 0 0 #8e9697;
      box-shadow: 0px 4px 0 0 darken(#8e9697, 5%);
    }
  }
  &--big {
    width: 100%;
    font-size: fontSize(18px);
  }
}

.u-whiteButton {
  background-color: white;
  border: solid 1px $mainColor2;
  color: $mainColor2;
  padding: 15px 0;
  font-family: 'Raleway', 'sans-serif';
  &--small {
    padding: 6px 12px;
  }
  &--shadow {
    box-shadow: 0px 4px 0 0 #8e9697;
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0px 5px 0 0 #8e9697;
      box-shadow: 0px 4px 0 0 darken(#8e9697, 5%);
    }
  }
}

.u-columnFullWidth {
  padding: 0;
}
.u-textCenter {
  text-align: center;
}

.u-actionElement {
  cursor: pointer;
}

.u-zIndex1 {
  z-index: 1;
}

.u-buttonIcon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: white;
  &.is-black {
    fill: black;
  }
}

.u-error {
  color: red;
}
@include tabletAndDesktop {
  .u-greenButton {
    font-size: fontSize(18px);
    padding: 8px 20px;
  }
  .u-whiteButton {
    font-size: fontSize(18px);
    padding: 8px 20px;
  }
}
