.u-block {
  padding: $mainMargin / 2;
  &--onlyVertical {
    padding-left: 0;
    padding-right: 0;
  }
}
.u-fullWidthBlock {
  margin: 0 #{-$mainMargin/2};
}
.u-blockTitle {
  font-family: 'Raleway', sans-serif;
  font-size: fontSize(27.4px);
  margin: 0;
  @extend .u-block;
}
.u-link {
  color: #4078c0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.u-blueInlineLabel {
  padding: 6px 10px;
  color: #f4f5f0;
  font-size: fontSize(11px);
  background-color: $emphasizeColor;
  margin-right: 10px;
  margin-bottom: 10px;
}

.u-greenButton {
  background-color: $mainColor2;
  color: white;
  border: none;
  padding: 15px 0;
  font-family: 'Raleway', 'sans-serif';
  &--small {
    padding: 6px 12px;
  }
  &--shadow {
    box-shadow: 0px 4px 0 0 #8e9697;
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0px 5px 0 0 #8e9697;
      box-shadow: 0px 4px 0 0 darken(#8e9697, 5%);
    }
  }
  &--big {
    width: 100%;
    font-size: fontSize(18px);
  }
}

.u-whiteButton {
  background-color: white;
  border: solid 1px $mainColor2;
  color: $mainColor2;
  padding: 15px 0;
  font-family: 'Raleway', 'sans-serif';
  &--small {
    padding: 6px 12px;
  }
  &--shadow {
    box-shadow: 0px 4px 0 0 #8e9697;
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0px 5px 0 0 #8e9697;
      box-shadow: 0px 4px 0 0 darken(#8e9697, 5%);
    }
  }
}
.u-paperVertical {
  background-color: white;
  box-shadow: 0px 4px 0 0 #7d8d8e;
  margin-bottom: 4px;
}
.u-paper {
  background-color: white;
  box-shadow: 2px 3.5px 0 0 #bcbaba;
}
.u-columnFullWidth {
  padding: 0;
}
.u-textCenter {
  text-align: center;
}

.u-actionElement {
  cursor: pointer;
}

.u-zIndex1 {
  z-index: 1;
}

.u-buttonIcon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: white;
  &.is-black {
    fill: black;
  }
}

@include tabletAndDesktop {
  .u-block {
    padding: $mainMarginTabletDesktop / 2;
  }
  .u-fullWidthBlock {
    margin: 0 #{-$mainMarginTabletDesktop / 2};
  }
  .u-greenButton {
    font-size: fontSize(18px);
    font-weight: 600;
    padding: 8px 20px;
  }
}
