<div class="developerInfo-formLine">
  <div 
    ng-if="$ctrl.newAvatar"
    ngf-drop 
    ng-model="picFile" 
    ngf-pattern="image/*"
    class="developerInfo-logo"
  >
    <img-crop 
      image="$ctrl.newAvatar  | ngfDataUrl"
      result-image="$ctrl.croppedDataUrl" 
      area-type="square"
      ng-init="$ctrl.croppedDataUrl=''">
    </img-crop>
  </div>
  <img class="developerInfo-logo" ng-hide="$ctrl.newAvatar" src="{{$ctrl.avatarUrl}}" />
  <div class="developerInfo-row">
    <button class="btn btn-default developerInfo-avatarControlButton" ngf-select ng-model="$ctrl.newAvatar">Choose new</button>
    <button class="btn btn-default developerInfo-avatarControlButton" ng-show="$ctrl.newAvatar" ng-click="$ctrl.clearAvatar()">
      Clear logo
      <svg class="u-buttonIcon is-black">
        <use xlink:href="#client--svg--cross"/>
      </svg>
    </button>
  </div>
  <div class="developerInfo-row">
    <sr-submit-button 
      state="$ctrl.state"
      success-text="'Avatar updated'"
      error-text="'Something went wrong'"
      ng-click="$ctrl.submit()"
      ng-show="$ctrl.newAvatar"
    >
      Save new logo
    </sr-submit-button>
  </div>
</div>