<div class="developerPreview">
  <img 
    class="developerPreview-avatar"
    src="{{'/client/assets/images/developers-avatars/' + $ctrl.developer.avatar}}"
  />
  <div class="developerPreview-content">
    <h3 class="developerPreview-name" ui-sref="developer({id: $ctrl.developer._id})">
      {{$ctrl.developer.firstName}} {{$ctrl.developer.lastName}}
    </h3>
    <div class="developerPreview-location">
      <b>Location:</b> {{$ctrl.developer.city}}, {{$ctrl.developer.country}}
    </div>
    <div class="developerPreivew-technologies">
      <div class="label label-info u-blueInlineLabel" ng-repeat="skill in $ctrl.developer.skills">
        {{skill.name}}
      </div>
    </div>
  </div>
</div>
