<div class="developerInfo">
  <h2>Your profile</h2>
  <div class="alert alert-warning" ng-if="!$ctrl.info.profileReadyForPublic">
    <b>Your profile is not included in search.</b> Please fill in contacts and location info and we will add your profile to search results.
  </div>
  <div ng-if="$ctrl.info.hidden" class="developerInfo-unhideAccount">
    <button class="developerInfo-unhideButton btn btn-primary" ng-click="$ctrl.showAccount()" ng-if="$ctrl.info.hidden">Make my account public</button>
    <div class="alert alert-warning developerInfo-unhideExplanation">
      <b>Your profile and your projects are not included in search, because your account is hidden.</b>
    </div>
  </div>
  <section>
    <developer-avatar
      avatar-url="$ctrl.info.avatar"
      state="$ctrl.avatarState"
      on-submit="$ctrl.updateAvatar(avatar)"
    ></developer-avatar>
    <div class="developerInfo-name">
      {{$ctrl.info.firstName}} {{$ctrl.info.lastName}}
    </div>
    <div>
        <b>Location:</b> {{$ctrl.info.city}}, {{$ctrl.info.country}}
    </div>
    <div>
        <b>Contact info:</b> {{$ctrl.info.contacts}}
    </div>
    <br/>
    <button type="button" class="btn btn-primary" ui-sref="edit-developer-profile">Edit profile</button>
    <div ng-if="$ctrl.info.profileReadyForPublic && !$ctrl.info.hidden" class="developerInfo-hideAccount">
    <button class="btn btn-warning developerInfo-hideButton" ng-click="$ctrl.hideAccount()">Hide my account</button>
      <small class="developerInfo-hideExplanation">If you hide your account, it will be not included in search and your projects also will be hidden for public access</small>
    </div>
  </article>
</div>