<h2>Your contacts</h2>
<div class="form-inline">
  <div class="form-group">
    <label>
      First Name
      <input class="form-control" ng-model="$ctrl.info.firstName" />
    </label>
  </div>
  <div class="form-group">
    <label>
      Last name
      <input class="form-control" ng-model="$ctrl.info.lastName" />
    </label>
  </div>
</div>
<div class="form-group">
  <label>When someone will want to hire, they will need a way to reach you out</label>
  <textarea  class="form-control" ng-model="$ctrl.info.contacts" placeholder="Enter email, skype or a link to your CV">
  </textarea>
</div>
<button type="button" class="btn btn-primary" ng-click="$ctrl.submit()">Update contacts</button>