<header class="header u-block" ng-controller="HeaderController">
  <h3 class="header-logo" ui-sref="home">Hire By Code</h3>
  <div class="header-buttonsGroup">
    <button 
      class="u-greenButton u-greenButton--small u-greenButton--shadow" 
      ng-hide="isLoggedIn" 
      ui-sref="login"
    >
      <span class="header-buttonText">Login</span>
      <svg class="u-buttonIcon header-githubIcon">
        <use xlink:href="#client--svg--github"/>
      </svg>
    </button>
    <button class="u-whiteButton u-whiteButton--small u-whiteButton--shadow" ng-show="isLoggedIn" ng-click="logOut()">Log Out</button>
    <button class="u-greenButton u-greenButton--small u-greenButton--shadow" ng-show="isLoggedIn" ui-sref="account">My Account</button>
  </div>
</header>