<section class="u-block u-paper howItWorks">
  <h2 class="howItWorks-header u-block">How it works?</h2>
  <article class="u-block howItWorks-article">
    <div class="howItWorks-articleLine howItWorks-articleLine--left"><h3 class="howItWorks-articleHeader">Developers</h3></div>
    <div class="howItWorks-articleLine howItWorks-articleLine--right">
      <div class="howItWorks-columnContent">
        <div class="howItWorks-circle howItWorks-circle--yellow">
          <span class="howItWorks-stepHeader">Profile</span>
          <span class="howItWorks-stepText u-zIndex1">Fill in contacts and personal info</span>
          <span class="howItWorks-triangle"></span>
          <span class="howItWorks-stepNumber">1</span>
          <span class="howItWorks-dot"></span>
        </div>
      </div>
    </div>
    <div class="howItWorks-articleLine howItWorks-articleLine--left">
      <div class="howItWorks-columnContent">
        <div class="howItWorks-circle howItWorks-circle--blue">
          <span class="howItWorks-stepHeader">Import & describe</span>
          <span class="howItWorks-stepText">projects from your Github</span>
          <span class="howItWorks-triangle"></span>
          <span class="howItWorks-stepNumber">2</span>
          <span class="howItWorks-dot"></span>
        </div>
      </div>
    </div>
    <div class="howItWorks-articleLine howItWorks-articleLine--right howItWorks-articleLine--last">
      <div class="howItWorks-columnContent">
        <div class="howItWorks-circle howItWorks-circle--green">
          <span class="howItWorks-stepHeader">Get hired!</span>
          <span class="howItWorks-triangle"></span>
          <span class="howItWorks-stepNumber">3</span>
          <span class="howItWorks-dot"></span>
        </div>
      </div>
    </div>
    <sr-github-login-button 
      class="howItWorks-actionButtonContainer"
      button-class="'u-greenButton howItWorks-actionButton'"
      text="'Present your code'"
      hide-icon="true"
    >
    </sr-github-login-button>
  </article>
  <article class="u-block howItWorks-article">
    <div class="howItWorks-articleLine howItWorks-articleLine--right"><h3 class="howItWorks-articleHeader">Employers</h3></div>
    <div class="howItWorks-articleLine howItWorks-articleLine--left">
      <div class="howItWorks-columnContent">
        <div class="howItWorks-circle howItWorks-circle--yellow">
          <span class="howItWorks-stepHeader">Search</span>
          <span class="howItWorks-stepText u-zIndex1">for developers with certain skills</span>
          <span class="howItWorks-triangle"></span>
          <span class="howItWorks-stepNumber">1</span>
          <span class="howItWorks-dot"></span>
        </div>
      </div>
    </div>
    <div class="howItWorks-articleLine howItWorks-articleLine--right">
      <div class="howItWorks-columnContent">
        <div class="howItWorks-circle howItWorks-circle--blue">
          <span class="howItWorks-stepHeader">Review</span>
          <span class="howItWorks-stepText">source code and skills</span>
          <span class="howItWorks-triangle"></span>
          <span class="howItWorks-stepNumber">2</span>
          <span class="howItWorks-dot"></span>
        </div>
      </div>
    </div>
    <div class="howItWorks-articleLine howItWorks-articleLine--left howItWorks-articleLine--last">
      <div class="howItWorks-columnContent">
        <div class="howItWorks-circle howItWorks-circle--green">
          <span class="howItWorks-stepHeader">Schedule interview!</span>
          <span class="howItWorks-triangle"></span>
          <span class="howItWorks-stepNumber">3</span>
          <span class="howItWorks-dot"></span>
        </div>
      </div>
    </div>
    <div class="howItWorks-actionButtonContainer">
      <button class="u-greenButton howItWorks-actionButton">Start searching</button>
    </div>
  </article>
</section>