<section class="repoForm">
  <sr-loader shown="$ctrl.repoState === 'repoLoading'" class="repoForm-loader"></sr-loader>
  <form name="$ctrl.form" 
    novalidate 
    class="repoForm-form"
    ng-if="$ctrl.repoState === 'repoLoaded'"
  >
    <sr-input
      label="'Type of the project'"
      type="'text'"
      form="$ctrl.form"
      ng-model="$ctrl.repo.type"
      required="true"
    ></sr-input>
    <sr-input
      ng-pattern="'@^(https?|ftp)://[^\s/$.?#].[^\s]*$@iS'"
      pattern-error="'It looks like your url is not valid'"
      label="'Link (if your project is hosted)'"
      name="'link'"
      form="$ctrl.form"
      ng-model="$ctrl.repo.link"
    ></sr-input>
    <sr-textarea
      name="'description'"
      form="$ctrl.form"
      label="'What I did and what I learned with this project:'"
      ng-model="$ctrl.repo.description"
      required="true"
    ></sr-textarea>
    <label class="u-inputLabel u-block">
      Skills:
      <sr-red-star></sr-red-star>
      <tags-input
        ng-model="$ctrl.repo.skills"
        tag-class="'u-inputTag'"
        display-property="name"
        class="u-tagInput repoForm-skillsInput"
        replace-spaces-with-dashes="false"
      >
        <auto-complete
          min-length="1"
          class="u-autocompolete"
          source="$ctrl.autocompleteSkills($query)"
        ></auto-complete>
      </tags-input>
    </label>
    <sr-select
      label="'School'"
      name="'trainingCenter'"
      form="$ctrl.form"
      ng-model="$ctrl.repo.trainingCenter"
      options="$ctrl.trainingCenters"
      value-field="'_id'"
      display-field="'name'"
      default-value="''"
      default-text="'No school'"
    ></sr-select>
    </div>
    <sr-submit-button 
      notification-position="'right'"
      state="$ctrl.submitState"
      success-text="$ctrl.successText"
      error-text="$ctrl.errorText"
      ng-click="$ctrl.submit()"
      class="repoForm-submitButton"
    >
      {{$ctrl.buttonText}}
    </sr-submit-button>
  </form>
</section>