<div class="repoContent u-paperVertical--mobile">
  <div class="repoContent-description u-paperVertical--mobile" ng-hide="$ctrl.hideDescription">
    <p class="u-block">{{$ctrl.repo.description}}</p>
    <div class="repoContent-contact u-block">
      <sr-contact-developer
        developer-name="$ctrl.repo.developer.firstName"
        developer-id="$ctrl.repo.developer._id"
      ></sr-contact-developer>
    </div>
  </div>
  <div  class="repoContent-fileSystem u-blockTabletAndDesktop">
    <div class="repoContent-path u-block u-block-mobile u-blockTabletAndDesktop--onlyVertical" ng-if="$ctrl.currentPath.length">
      <span class="repoContent-pathItem" ng-click="$ctrl.goUpFolders(0)">{{$ctrl.repo.name}}</span>
      <span ng-repeat="pathItem in $ctrl.currentPath.split('/')">
        /<span 
          ng-click="$ctrl.goUpFolders($index + 1)"
          class="repoContent-pathItem" 
          ng-class="{'repoContent-pathItem--current': $last }">{{pathItem}}</span>
      </span>
    </div>
    <div class="repoContent-fsRow" ng-if="$ctrl.currentPath.length && $ctrl.contentType === 'dir'" ng-click="$ctrl.goUpFolders()">
      <span class="repoContent-backLine">...</span>
    </div>
    <div 
      ng-if="$ctrl.contentType === 'dir'" 
      class="repoContent-fsRow" 
      ng-repeat="item in $ctrl.dirContent" 
      ng-click="$ctrl.showContent(item)"
    >
      <svg class="repoContent-fsIcon">
        <use xlink:href="{{'#client--svg--' + item.type}}" />
      </svg>
      <span>{{item.name}}</span>
    </div>
    <div class="repoContent-code" ng-if="$ctrl.contentType === 'file'">
      <sr-file-content content="$ctrl.fileContent" class="repoContent-fileContent u-paperShadow--desktop" language={{$ctrl.fileType}}></sr-file-content>
    </div>
    <sr-loader shown="$ctrl.loading"></sr-loader>
    
    <div class="repoContent-error" ng-show="$ctrl.error">
      <span class="label label-danger repoContent-errorText">{{$ctrl.error}}</span>
    </div>
  </div>
</div>