<article class="u-block">
  <div class="repoPreview-content u-block u-paper">
    <div class="repoPreview-topPart">
      <h3 class="repoPreview-name u-textCenter u-block">{{$ctrl.repo.name}}</h3>
      <div class="u-block repoPreview-imageContainer">
        <img class="repoPreview-image" src="/client/assets/images/project-placeholder.jpg">
      </div>
      <article class="u-block">
        <table class="repoPreview-detailsTable">
          <tr class="repoPreview-detailRow" ng-if="$ctrl.repo.type">
            <th class="repoPreview-detailKey u-block">Type:</th>
            <th class="repoPreview-detailValue u-block">
              {{$ctrl.repo.type}}
            </th>
          </tr>
          <tr class="repoPreview-detailRow" ng-if="$ctrl.repo.trainingCenter">
            <th class="repoPreview-detailKey u-block">School: </th>
            <th class="repoPreview-detailValue u-block">
              <img class="repoPreview-trainingCenterLogo" src="{{$ctrl.repo.trainingCenter.logo}}"/>
              {{$ctrl.repo.trainingCenter.name}}
            </th>
          </tr>
        </table>
      </article>
      <div class="u-block repoPreview-skillsContainer">
        <div class="u-blueDarkLabel" ng-repeat="skill in $ctrl.repo.skills">
          {{skill.name}}
        </div>
      </div>
    </div>
    <div class="repoPreview-bottomPart">
      <div class="repoPreview-metaInformation"></div>
      <div class="u-block repoPreview-button">
        <button class="u-greenButton u-greenButton--big" ng-click="$ctrl.seeDetails($ctrl.repo._id)">See details</button>
      </div>
    </div>
    <div ng-transclude></div>
  </div>
</article>

