<article class="u-block">
  <div class="repoPreview-content u-block u-paper">
    <div class="repoPreview-topPart">
      <h3 class="repoPreview-name u-textCenter u-block">{{$ctrl.repo.name}}</h3>
      <div class="u-block repoPreview-imageContainer">
        <img class="repoPreview-image" src="/client/assets/images/project-placeholder.jpg">
      </div>
      <article class="u-block">
        <table class="repoPreview-detailsTable">
          <tr class="repoPreview-detailRow">
            <th class="repoPreview-detailKey u-block">School: </th>
            <th class="repoPreview-detailValue u-block">
              <img class="repoPreview-trainingCenterLogo" src="{{trainingCenter.logo}}"/>
              MainAcademy
            </th>
          </tr>
          <tr class="repoPreview-detailRow">
            <th class="repoPreview-detailKey u-block">Type:</th>
            <th class="repoPreview-detailValue u-block">
              Web Application
            </th>
          </tr>
        </table>
      </article>
      <div class="repoPreview-trainingCenter" ng-if="$ctrl.repo.trainingCenterApproved">
        <span>{{$ctrl.repo.trainingCenterApproved.name}}</span>
        <img 
          class="repoPreview-trainingCenterLogo" 
          src="{{$ctrl.repo.trainingCenterApproved.logo}}"
        />
      </div>
      <div class="u-block repoPreview-skillsContainer">
        <div class="u-blueInlineLabel" ng-repeat="skill in $ctrl.repo.skills">
          {{skill.name}}
        </div>
      </div>
    </div>
    <div class="repoPreview-bottomPart">
      <div class="repoPreview-metaInformation"></div>
      <div class="u-block repoPreview-button">
        <button class="u-greenButton u-greenButton--big" ng-click="$ctrl.seeDetails($ctrl.repo._id)">See details</button>
      </div>
    </div>
  </div>

  <div class="repoPreview-adminPanel" ng-if="$ctrl.mode === 'admin'">
    <span class="btn btn-info userHome-importedLabel" ng-click="$ctrl.onEdit()">Edit</span>
    <button class="btn btn-danger" ng-class="{disabled: $ctrl.repo.isDeleting}" ng-click="$ctrl.onDelete()">Remove</button>
    <button class="btn btn-primary" ng-class="{disabled: $ctrl.repo.isHiding}" ng-show="$ctrl.repo.hidden" ng-click="$ctrl.onUnhide()">Show</button>
    <button class="btn btn-warning" ng-class="{disabled: $ctrl.repo.isHiding}" ng-hide="$ctrl.repo.hidden" ng-click="$ctrl.onHide()">Hide</button>
  </div>
</article>

