<section class="search">
  <div class="col-md-4 u-columnFullWidth">
    <h3 class="u-blockTitle u-textCenter">{{$ctrl.header || 'Find Developers'}}</h3>
    <sr-search-filters
      hidden-filters="$ctrl.hiddenFilters" 
      skills="$ctrl.skillsList"
      locations="$ctrl.locationsList"
      schools="$ctrl.schoolsList"
      filtersLoaded="$ctrl.filtersLoaded"
      on-school-change="$ctrl.addSchoolToFilters(school)"
      on-skill-change="$ctrl.addSkillToFilters(skill)"
      on-location-change="$ctrl.addLocationToFilters(location)"
    ></sr-search-filters>
  </div>
  <div class="col-md-8 u-block">
    <div class="search-content u-block">
      <sr-search-filters-indicator
        filters="$ctrl.filters.flattenFilters"
        on-remove="$ctrl.removeFilter(filter)"
      ></sr-search-filters-indicator>
      <sr-developer-list 
        ng-if="$ctrl.searchType==='developers'" 
        filters="$ctrl.filters"
      ></sr-developer-list>
      <sr-repo-list ng-if="$ctrl.searchType==='projects'"></sr-repo-list>
    </div>
  </div>
</section>