%svg-common {
	background: url("svg/sprite.css-1dab0623.svg") no-repeat;
}

.svg-client--svg--back {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-client--svg--back-dims {
	width: 24px;
	height: 24px;
}

.svg-client--svg--dir {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-client--svg--dir-dims {
	width: 48px;
	height: 48px;
}

.svg-client--svg--file {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-client--svg--file-dims {
	width: 48px;
	height: 48px;
}

