%svg-common {
	background: url("svg/sprite.css-f36f10d4.svg") no-repeat;
}

.svg-client--svg--back {
	@extend %svg-common;
	background-position: 86.91853658536584% 48.19277108433735%;
}

.svg-client--svg--back-dims {
	width: 24px;
	height: 24px;
}

.svg-client--svg--dir {
	@extend %svg-common;
	background-position: 74.20456852791877% 51.150895140664964%;
}

.svg-client--svg--dir-dims {
	width: 48px;
	height: 48px;
}

.svg-client--svg--file {
	@extend %svg-common;
	background-position: 82.32639593908628% 51.150895140664964%;
}

.svg-client--svg--file-dims {
	width: 48px;
	height: 48px;
}

.svg-client--svg--gears {
	@extend %svg-common;
	background-position: 99.89726651480636% 0;
}

.svg-client--svg--gears-dims {
	width: 200px;
	height: 200px;
}

.svg-client--svg--github {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-client--svg--github-dims {
	width: 438.549px;
	height: 438.549px;
}

