%svg-common {
	background: url("svg/sprite.css-0bd2b541.svg") no-repeat;
}

.svg-client--svg--back {
	@extend %svg-common;
	background-position: 99.33097031457687% 27.897519083969463%;
}

.svg-client--svg--back-dims {
	width: 24px;
	height: 24px;
}

.svg-client--svg--checkmark {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-client--svg--checkmark-dims {
	width: 1000px;
	height: 1000px;
}

.svg-client--svg--cross {
	@extend %svg-common;
	background-position: 47.591859807801015% 92.25092250922509%;
}

.svg-client--svg--cross-dims {
	width: 512px;
	height: 512px;
}

.svg-client--svg--dir {
	@extend %svg-common;
	background-position: 98.96551724137932% 54.16983204134367%;
}

.svg-client--svg--dir-dims {
	width: 48px;
	height: 48px;
}

.svg-client--svg--file {
	@extend %svg-common;
	background-position: 96.81594267801164% 54.16983204134367%;
}

.svg-client--svg--file-dims {
	width: 48px;
	height: 48px;
}

.svg-client--svg--gears {
	@extend %svg-common;
	background-position: 88.51033157135993% 60.067979942693405%;
}

.svg-client--svg--gears-dims {
	width: 200px;
	height: 200px;
}

.svg-client--svg--gears-single {
	@extend %svg-common;
	background-position: 91.93606483565961% 54.59303385416666%;
}

.svg-client--svg--gears-single-dims {
	width: 60px;
	height: 60px;
}

.svg-client--svg--gears-single-white {
	@extend %svg-common;
	background-position: 94.63755065285908% 54.59303385416666%;
}

.svg-client--svg--gears-single-white-dims {
	width: 60px;
	height: 60px;
}

.svg-client--svg--github {
	@extend %svg-common;
	background-position: 99.97009418432295% 0;
}

.svg-client--svg--github-dims {
	width: 438.549px;
	height: 438.549px;
}

.svg-client--svg--hidden {
	@extend %svg-common;
	background-position: 97.92131844763423% 36.66797658862876%;
}

.svg-client--svg--hidden-dims {
	width: 400px;
	height: 400px;
}

.svg-client--svg--pencil {
	@extend %svg-common;
	background-position: 0 99.93004896572398%;
}

.svg-client--svg--pencil-dims {
	width: 841.9px;
	height: 595.3px;
}

.svg-client--svg--photo {
	@extend %svg-common;
	background-position: 69.48787436592315% 0;
}

.svg-client--svg--photo-dims {
	width: 841.9px;
	height: 595.3px;
}

.svg-client--svg--thick-cross {
	@extend %svg-common;
	background-position: 99.19911504424779% 29.349555837563447%;
}

.svg-client--svg--thick-cross-dims {
	width: 21px;
	height: 20px;
}

.svg-client--svg--trash {
	@extend %svg-common;
	background-position: 75.17490283176014% 89.60573476702508%;
}

.svg-client--svg--trash-dims {
	width: 480px;
	height: 480px;
}

